<html>
    <head>
        <title>Daily Notes</title>
    </head>
    <body>
        <h1>Welcome to DailyNotes!</h1>
        <hr/>
        <h3>Add a new note:
        <form method="post">
            {% csrf_token %}
            {{myForm.as_p}}
            <button type="submit">Add note</button>
        </form>
        <hr/>
        <h4>All notes:</h4>

        {% if myNotes %}
            <ul>
                {% for note in myNotes %}
                    <strong>{{note.title}}</strong>
                {% endfor %}
            </ul>
        {% else %}
            <p>No notes available.</p>
        {% endif %}
</html>